.fon1{
font-family: Dosis
}
.fon2{
font-family: Open-Sans;
}
/*.................PROPIEDADES DEL MENU DE PORTAFOLIO................*/
nav ul{
list-style-type: none;
padding-top: 15px;
white-space: nowrap;
text-align: center;
padding-bottom: 20px;
margin-bottom: 20px;
}
nav li {
position: relative;
display: inline;
padding: 0;
text-align: center;
}
nav a {
text-decoration: none;
padding: 10px 30px 10px 30px;
color:black;
font-family:Dosis;
}
nav li:hover a{
background: #0dc0c0;
}
nav a:hover {
color:white;
}
/*...................................*/
.imgpor>div{		/*Imagen portafolio*/
background-repeat:no-repeat;
height: 260px;
margin:15px;
}
.imgpor1{		/*Caracteristicas de las imagenes*/
background: #FFFAFA;
padding: 15px;
border-right: 1px solid #ababab;
border-top: 1px solid #ababab;
border-left: 1px solid #ababab;
}
.bgpor{			/*Caracteristicas del texto bajo imagenes*/
background-color: #FFFAFA;
margin-top: -5px;
border-bottom: 1px solid #ababab;
border-right: 1px solid #ababab;
border-left: 1px solid #ababab;
}
.button1 {		/*Boton de load more*/
font-style: Open-Sans;
background-color: #575656;
color: gray;
padding: 12px 20px;
text-align: center;
margin: 50px 500px;
cursor: pointer;
}
.bgpri{		/*Imagen de la ciudad*/
background-image: url(../img/background/city.jpg);
background-size: 115%;
-webkit-filter: brightness(50%);
background-repeat: no-repeat;
padding-bottom: 37%;
}
.cpri{		/*Texto del centro*/
text-align: center;
margin:-30% 20%;
position: absolute;
}
.fp1  {	/*Fuente de choose*/
text-align: center;
font-size: 30px;
}
.wcua{
background-color: white;
padding-top: 30px;
padding-left: 12px;
padding-right: 12px;
width:350px;
height:570px;
margin-left: 30px;
margin-top: 50px;
}
.c1g{
/* border: 1px blue solid; */
text-align: center;
font-size: 30px;
padding: 30px;
color: white;
}
.c2g{
background-color: #C2C0C0;
/* border: 1px blue solid; */
text-align: center;
padding: 50px;
color: white;
}
.fonsi1{
font-size: 35px;
}
.fonsi2{
font-size: 20px;
}
.bli{
border-bottom: 1px gray solid
}
.button2 {		/*Boton de load more*/
font-style: Open-Sans;
background-color: #3B3C4F;
color: white;
padding: 12px 20px;
text-align: center;
margin: 20px 110px;
cursor: pointer;
}
.customer{		/*Imagen de customer*/
width: 9%;
border-radius: 50%;
margin-left: 45%;
margin-top: 5%;
margin-bottom: 5%;
}
.cus{		/*Texto del custom bajo la imagen*/
width: 60%;
margin-left: 20%;
text-align: center;
}
.bgcon{		/*Fondo de contacto*/
background-image: url(../img/background/contactus.jpg);
background-size: 100%;
background-repeat: no-repeat;
padding: 28%;
-webkit-filter: brightness(50%);
}
.mg1{		/*Margenes de texto de contacto*/
margin-top: -696px;
position: relative;
}
.mg2{		/*Margenes de texto de contacto*/
margin-top: 20px;
position: relative;
}
.mg3{
margin-top: -575px;
margin-left: 11px;
position: absolute;
}
.conta{
opacity:0.2;
color:#4E4D4D;
font-size: 15px;
width:40%;
padding: 1%;
position:absolute;
margin-top:-525px;
margin-left: 10px;
}
.conta1{
opacity:0.2;
color:#4E4D4D;
font-size: 15px;
width:40%;
padding: 1%;
position:absolute;
margin-top:-455px;
margin-left: 10px;
}
.conta2{
opacity:0.2;
color:#4E4D4D;
font-size: 15px;
width:40%;
padding-bottom:8%;
padding-top: 1%;
padding-left: 1%;
position:absolute;
margin-top:-385px;
margin-left: 10px;
}
.button3{		/*Boton de load more*/
font-style: Open-Sans;
background-color: #0dc0c0;
color: white;
font-size: 18px;
padding: 18px 50px;
text-align: center;
margin-top: -205px;
margin-left:10px;
cursor: pointer;
position: absolute;
}
.mg3a{
margin-top: -575px;
margin-left: 65px;
position: absolute;
}
.mg4{
margin-top: -485px;
margin-left: 65px;
margin-right: 65px;
position: absolute;
}
.mg5{
margin-top: -285px;
margin-left: 65px;
margin-right: 65px;
position: absolute;
}
.mg6{
margin-top: -205px;
margin-left: 65px;
margin-right: 65px;
position: absolute;
}
.mg7{
margin-top: -155px;
margin-left: 65px;
margin-right: 65px;
position: absolute;
}
/* ...........................................FEATURES............................... */
.icono{
	color: #66ffe0;
	margin-left: 150px;
	font-size: 60px;
}
.hola{
	text-align: center;
	margin-top: 10px;
	font-size: 25px;

}
.hola1{
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}
.titulo{
	text-align: center;
	font-size: 35px;
	color: gray;
}
.backg2{
		background-color:  #f0f5f5;
}
.compu{
margin-left: -15px;
width: 100%;
}
.iconos{
	color:#66FFE0;
	font-size: 25px;
	margin-left:60px;
}